.chat-box {
  background: #fff;
  position: relative;
  width: 100%;
}

.chat-header {
  font-size: 18pt;
  padding: .3em .6em;
  height: 50px;
  color: #363636;
  background-color: #f5f5f5;
}

.chat-messages {
  padding-top: 1em;
  font-size: 14px;
  padding-left: .8em;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.chat-submit {
  height: 53px;
  padding: .8em;
  width: 100%;
  bottom: 60px;
}

.chat-messages span { margin: 4px; }
.chat-messages .ts { font-size: 11px; }
.chat-messages .username { font-weight: bold; }
