.broadcast-set-top {
  display: flex;
  flex-direction: column;
}

.broadcast-set-top {
  min-height: 100vh;
}

.chat-box {
  background: #fff;
  flex: 1
}

.chat-header {
  font-size: 18pt;
  padding: .5em;
  height: 50px;
  color: #363636;
  background-color: #f5f5f5;
}

.chat-messages {
  font-size: 14px;
  overflow: scroll;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  width: 100%;
  /* top: 0; */
  /* position: absolute; */
}

.chat-submit {
  /* height: 60px; */
  padding: .8em;
  width: 100%;
  bottom: 60px;
  position: absolute;
}

.chat-messages span { margin: 4px; }
.chat-messages .ts { font-size: 11px; }
.chat-messages .username { font-weight: bold; }
