.chat-box {
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-header {
  justify-content: flex-start;
  padding: 1em;
}

.chat-messages {
  overflow: scroll;
  flex-direction: column-reverse;
  flex: 1;
  justify-content: center;
}

.chat-submit {
  justify-content: flex-end;
  padding: 1em;
}

.chat-messages span { margin: 4px; }
.chat-messages .ts { font-size: 11px; }
.chat-messages .username { font-weight: bold; }
