/* * { font-family: 'Share Tech Mono', monospace } */
html {
  background-image: url(background.png);
  background-color: #efefef;
  background-attachment: fixed;
}
hr { background: #ddd; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
