.profile-image {
  background: #d8d8d8;
  object-fit: fill;
}

.player-set-top {
  display: flex;
  flex-direction: row;
  /* min-height: calc(100vh - 52px);
  max-height: calc(100vh - 52px); */
}

@media only screen and (max-width: 768px) {
  .player-set-top { flex-direction: column; }
}

@media only screen and (min-width: 769px) {
  .player-set-top { flex-direction: column; }
  .player-section { flex: 0; }
}

@media only screen and (min-width: 1088px) {
  .player-set-top { flex-direction: row; }
  .player-section { flex: 3; }
}
